<p>
<a href="/error_messages/<%= error_messages.id %>"><%= error_messages.title %></a>
</p>
<% if user_signed_in? %>
<p><a href="/error_messages/:error_message_id/solutions/new/<%= error_messages.id %>">投稿</a></p>
<% end %>
<br>

