<h1><%= @user.name %>様へ、Instant Fixからのお知らせです。</h1>
-----------------------------------------------------------------------------
<p>
<%= @solution.error_message.title %> への投稿にいいねがつきました！
現在<%= @solution.good %>いいねです！
</p>
<p>
<%= link_to "#{@solution.error_message.title}", error_message_path(@solution.error_message) %>
</p>
-------------------------------------------------------------------------------
<p>今後ともよろしくお願いいたします！</p>