<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>INSTANT FIX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="../assets/css/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>

  <!-- 動的にフォームを作成 -->
  <script>
  function add_knowledge()
  {
      var div_element = document.createElement("div");
      div_element.innerHTML = '<textarea class="form-control" rows="2" id="textArea"></textarea><span class="help-block"></span>';
      var parent_object = document.getElementById("add_textform_knowledge");
      parent_object.appendChild(div_element);
  }
  
  function add_solution()
  {
      var div_element = document.createElement("div");
      div_element.innerHTML = '<textarea class="form-control" rows="2" id="textArea"></textarea><span class="help-block"></span>';
      var parent_object = document.getElementById("add_textform_solution");
      parent_object.appendChild(div_element);
  }
  </script>
  
  </head>
  <body>
      <!-- ヘッダ開始 -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">INSTANT FIX</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
    
        <div class="navbar-collapse collapse" id="navbar-main">
      <form class="navbar-form navbar-nav" role="search">
                <div class="form-group">
                        <input type="text" size="60" class="form-control" placeholder="エラーメッセージを入力してください">
                </div>        
                <button type="submit" class="btn btn-default">検索</button>
          </form>
      
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" target="_blank">ログイン</a></li>
            <li><a href="#" target="_blank">ユーザー登録</a></li>
          </ul>

        </div>
      </div>
    </div>
  <!-- ヘッダ終了 -->

    <div class="container">     
      
      <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
          <div class="page-header">
              <br>
              <h1 id="forms">プロフィール編集ページ</h1>
            </div>
          </div>
        </div>
        <%= form_tag("/users/#{@user.id}", method: :patch) do %>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-3 control-label"><h4>ユーザー名設定</h4></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="inputUsername" placeholder="ユーザー名を入力してください", name="name">
                    </div>
                </div>
                <div class="form-group">
                <label for="inputMessage" class="col-lg-3 control-label"><h4>プロフィール文編集</h4></label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" id="textArea" placeholder="プロフィールを書いてください", name="message"></textarea>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputURL1" class="col-lg-3 control-label"><h4>GitHubURL</h4></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="inputURL1" placeholder="GitHubのURLを入力してください", name="URL">  
                </div>          
            </div>          
            <div class="form-group">
                <label for="inputURL2" class="col-lg-3 control-label"><h4>QiitaURL</h4></label>
                <div class="col-lg-9" id="add_textform_knowledge">
                    <input type="text" class="form-control" id="inputURL2" placeholder="QuiitaのURLを入力してください", name="URL">
                </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2" align="right">                 
                  <!-- <a href="mypage.html" class="btn btn-primary">更新</a> -->
                  <input type="submit" class="btn btn-primary" value="更新">

              </div>
            </div>
                </fieldset>
              </form>
            </div>
          </div>      
        </div>
        <% end %>
      
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>              
            </ul>            
          </div>
        </div>
      </footer>

    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/custom.js"></script>
  <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>