<div>
	<h1><%= @error_message.title %></h1>
	<h2><%= @error_message.error_code %></h2>
</div>
<div>
<%= form_for @solution, url: {:controller => :solutions, :action => :create} do |f| %>
<%= render "form", f: f %>
<% end %>
</div>